/Client/Farming/Logs
/Client/Farming/obj
/Client/Farming/Packages
/Client/Farming/ProjectSettings
/Client/Farming/Assembly-CSharp.csproj
/Client/Farming/Assembly-CSharp-firstpass.csproj
/Client/Farming/Library
